{{- $inner := .Inner -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty shortcode found." -}}
{{- end -}}
{{- $tabs := split $inner "---" -}}
<ul class="tabs">
{{- $counter := 1 -}}  <!-- Инициализация счетчика -->
{{- range $tabs -}}
    {{- $title := index (findRE `(?s)<h2.*?>.*?</h2>` (markdownify .) 1) 0 -}}
    {{- $id := $counter -}}  <!-- Установка ID на текущее значение счетчика -->
    {{- $titleplain := replace (index (split $title ">") 1) `</h2` `` -}}
    <li><a href="#tab_{{- $id -}}" onclick="toggleTab(this); return false;">{{ $titleplain }}</a></li>
    {{- $counter = add $counter 1 -}}  <!-- Увеличение счетчика -->
{{- end -}}
</ul>
<div class="tabs_container">
{{- $counter := 1 -}}  <!-- Сброс счетчика для вкладок -->
{{- range $tabs -}}
    {{- $title := index (findRE `(?s)<h2.*?>.*?</h2>` (markdownify .) 1) 0 -}}
    {{- $id := $counter -}}  <!-- Установка ID на текущее значение счетчика -->
    <div class="tab" id="tab_{{- $id -}}">
        {{- markdownify . | safeHTML -}}
    </div>
    {{- $counter = add $counter 1 -}}  <!-- Увеличение счетчика -->
{{- end -}}
</div>
<script>
    function toggleTab(el) {
        var els = el.parentElement.parentElement.querySelectorAll('li');
        els.forEach(function(el) {
            el.classList.remove('selected');
        });
        var els = el.parentElement.parentElement.nextElementSibling.querySelectorAll('.tab');
        els.forEach(function(tab) {
            tab.style.display = 'none';
        });
        el.parentElement.classList.add('selected')
        el.parentElement.parentElement.nextElementSibling.querySelector(el.getAttribute('href')).style.display = '';
    }
    var els = document.querySelectorAll('.tabs');
    els.forEach(function(instance) {
        instance.querySelector('li:first-child a').click();
    });
</script>